doctype html
html(lang="en")
  head
    title Komentar

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  body

    nav(class="red lighten-1")
      div(class="nav-wrapper")
        a(href="#" class="brand-logo center") Komentar

    div(class="center")
      div(class=(leadTeam === 'SPACES') ? 'card-panel blue lighten-3' : 'card-panel')
        h3 #{spaceCount} komentar
        button(id="voteSpaces" class="btn blue") Tambah

    h4(class="header center") Daftar Komentar
    ul(class="container collection center")
      each vote in recentVotes
        li(class="collection-item avatar")
          i(class="material-icons circle blue") space_bar
          span(class="title") A vote for <b>#{vote.candidate}</b>
          p was cast at #{vote.time_cast}.

    script.
      function vote(team) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          var msg = "";
          if (this.readyState == 4) {
            window.location.reload();
          }
        };
        xhr.open("POST", "/votes", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("team=" + team);
      }
      document.getElementById("voteSpaces").addEventListener("click", function () {
        vote("SPACES");
      });
